
<div class="editor-left">
    <form id="editor">
        
    <textarea class="form-control" autocorrect="false" spellcheck="false" id="textarea" rows="10" ></textarea>
    <div id="selector"></div> 
    <div id="version" class="form-group">
            <label for="sel1">Select Version:</label>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
            </select>
          </div></br>
    <button type="submit" class="btn btn-secondary" >RUN</button></br>
    <div id="alert"></div>
    </form>
</div>

    



   