<center>
<div class="editor-left" >
    <form id="editor">
        
    <textarea class="form-control" autocorrect="false" spellcheck="false" id="textarea" rows="8" ></textarea>
    <div id="selector"></div> <br>
    <div id="version" class="form-group">
            <label for="sel1">Select Version:</label>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
            </select>
          </div></br>
    <div>
     <center> <button type="submit" class="btn btn-primary btn-outline-danger btn-lg"  >&nbsp;&nbsp;&nbsp;RUN&nbsp;&nbsp;&nbsp;</button></center><br>
    </div>
    
    <div id="alert"></div>
    </form>
</div>

    



</center>
<script src="/static/js/editor.js"></script>