
<!-- views/partials/header.ejs -->
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3 ><a href="/">Coderden</a></h3></h3>
      </div>

      <ul class="list-unstyled components">
          <p id="user">Hi Guest</p>
          <li class="nav-item ">
          <a class="navbar-brand" href="/editor">Editor</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/choseq">Chose questions<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Quiz<span class="sr-only">(current)</span></a>
          </li>
          
          
          
      </ul>

      
  </nav>

  <!-- Page Content Holder -->


      

  
  </div>
</div>






  <script>
   flag=1
   $('#sidebar, #content').attr('class','');
        $("body").on("mousemove",function(event) {
          
          let cent = event.clientX/$(document ).width() *100;
     // console.log(cent)
    if (cent < 35 ) {
        // do something
       // console.log("aa")
       $('#sidebar, #content').attr('class','');
       
            flag=1
    }
    else{
      $('#sidebar, #content').attr('class','active');
      
    
      flag=0;
    }
});
  </script>