<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>SYKKO</title>
<script src="//katacoda.com/embed.js"></script>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
    .editor-left{
    
    }
    #textarea{
        font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
        color:#333;
        font-size:1.ex;
       
    }
</style>