<div id="topics"></div>
<div id="qbox"></div>
<div class="card text-center " id="timeselector" style="display:none">
    <div class="card-header">
        <h5 class="card-title"> Set the duration for the quiz</h5>
      </div>
    <div class="card-body">
       
<div class="input-group mb-3" style="display: none">

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Hours</span>
  </div>

  <input type="text" class="form-control" placeholder="Enter no of hours" id="hours" value="1" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Minutes</span>
    </div>
  
    <input type="text" class="form-control" placeholder="Enter no of minutes" id="mins" value="0" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  </div>
</div>
<br>
<center><button type="button" class="btn btn-secondary ata-toggle="modal" data-target="#exampleModal"" id="maketest">Populate</button>  </center><br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="display: none" id="modalpopper" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quiz link</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="link_shower">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
          
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/questions.js"></script>