
<div class="container">


        
<div id="qbox" class="slideshow-container">
    
</div>

<div  class="row justify-content-md-center   ">
        <div class="col col-lg-10">
        <% include ./editor %> 
        </div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
    
    
    <script src="/static/js/quiz.js"></script>
  