<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="/static/js/fetch_my_code.js"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div>
        
        <h1  class="display-1" style="font-weight: lighter" ><center>Editor</center></h1>
        <br><br>
     </div>
     <div>
        <% include ../partials/editor %> 
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>


</script>
</html>