<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Something else</h1>
     </div>
     <div>
        <% include ../partials/editor %> 
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
<script src="/static/js/editor.js">
</script>
</html>