<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div>
        <br><br><br><br><br>
        <h3  class="display-3" style="font-weight: lighter" ><center>Editor</center></h3>
        <br><br>
     </div>
     <div>
        <% include ../partials/editor %> 
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>


</script>
</html>