<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" style="background-color: white;">
        <h1  class="display-1" style="font-weight: lighter" ><center>Editor</center></h1>
     </div>
     <div>
        <% include ../partials/editor %> 
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>


</script>
</html>