<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Something else</h1>
     </div>
     
        <% include ../partials/questions %> 
    
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</script>
</html>